<div class="row justify-content-center">
  <div class="col-8">
    <form role="form" name="categorieForm" novalidate (ngSubmit)="saveOrUpdate()" #categorieForm="ngForm">
      <div class="form-group" [hidden]="categorie.idCateg">
        <h1>Nouvelle Categorie</h1>
        <p>Veuillez saisir les données de la categorie</p>
        <hr>
      </div>
      <div class="form-group" [hidden]="!categorie.idCateg">
        <h1>Modifier Categorie</h1>
        <p>Veuillez saisir les données de la categorie</p>
        <hr>
      </div>

      <div class="form-group" [hidden]="!categorie.idCateg">
        <label for="idCategorie">ID</label>
        <input type="number" class="form-control" name="idCategorie" [(ngModel)]="categorie.idCateg" readonly />
      </div>

      <div class="form-group">
        <input type="text" class="form-control" name="libelleCategorie" placeholder="Entrer Libellé"
          #libelleCateg="ngModel" [(ngModel)]="categorie.libelleCateg" required maxlength="40" />
        <div [hidden]="!((categorieForm.controls.libelleCateg?.dirty 
								|| categorieForm.controls.libelleCateg?.touched)
								&& categorieForm.controls.libelleCateg?.invalid)">
          <small class="form-text text-danger" [hidden]="!categorieForm.controls.libelleCateg?.errors?.required">
            Le champs Libelleé est obligatoire.
          </small>
          <small class="form-text text-danger" [hidden]="!categorieForm.controls.libelleCateg?.errors?.maxlength">
            Le champs Libelleé ne doit pas dépasser 40 caractères.
          </small>
        </div>
      </div>

      <div class="form-group">
        <input type="number" [(ngModel)]="categorie.codeCateg" class="form-control" name="codeCateg"
          placeholder="Entrer Code Categorie" required #codeCateg="ngModel">
        <div [hidden]="!((categorieForm.controls.codeCateg?.dirty 
								|| categorieForm.controls.codeCateg?.touched)
								&& categorieForm.controls.codeCateg?.invalid)">
          <small class="form-text text-danger" [hidden]="!categorieForm.controls.codeCateg?.errors?.required">
            Code Catégorie est obligatoire.
          </small>
          <small class="form-text text-danger" [hidden]="!categorieForm.controls.codeCateg?.errors?.number">
            Code Catégorie doit être numérique.
          </small>
        </div>
      </div> 

      <div class="clearfix">
        <input [disabled]="!categorieForm.valid" class="btn btn-info" type="submit" value="Créer">
        <input class="btn btn-secondary" type="reset" value="Effacer">
      </div>

    </form>
  </div>
</div>